#map {
    width:600px;
    height:500px;
    border:1px solid #000;
    float:left;
    margin-right:  20px;


   }

#container{
  /* display: flex; */
  /* justify-content: flex-start; */

}

p {
  margin: 0;
}

inputycoord {
  margin-bottom: 20px;
}

button {
  margin-top: 10px

}
.fail{
  background: red;
}
